@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.franja-roja {
  width: auto;
  height: 66px;
  background-color: #ff1b05;
}

.lineas {
  position: relative;
  color: #000000;
  font-weight: bold;
  width: 426px;
  height: 30px;
  top: -11px;
  left: 51px;
  text-decoration: none;
}

.neas {
  position: relative;
  color: #000000;
  font-weight: bold;
  width: 426px;
  height: 30px;
  top: -8px;
  left: 51px;
  text-decoration: none;
}

.neas a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.lineas a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.encierra-icono {
  position: relative;
  width: 32px;
  height: 32px;
  top: 16px;
  left: 16px;
}

.sociala:hover {
  background-color: rgb(253, 246, 96, 0.7);
  transition: .5s;
  position: relative;
}

.sociala {
  position: relative;
  width: 32px;
  height: 32px;
  top: -50px;
  left: 1127px;
}

.ala {
  position: relative;
  width: 32px;
  height: 32px;
  top: -45px;
  left: 1127px;
}

.ala:hover {
  background-color: rgb(253, 246, 96, 0.7);
  transition: .5s;
  position: relative;
}

.social {
  position: relative;
  width: 32px;
  height: 32px;
  top: -49px;
  left: 1124px;
}

.cial:hover {
  background-color: rgb(253, 246, 96, 0.7);
  position: relative;
  transition: .5s;
}

.cial {
  position: relative;
  width: 32px;
  height: 32px;
  top: -44px;
  left: 1124px;
}

.social:hover {
  background-color: rgb(253, 246, 96, 0.7);
  position: relative;
  transition: .5s;
}

.menu-nav .nav-item:hover {
  background-color: #faf572;
  transition: .5s;
}

.menu-nav .nav-mayo:hover {
  background-color: #faf572;
  transition: .5s;
}

.menu-nav .nav-acerca:hover {
  background-color: #faf572;
  transition: .6s;
}


.nav-barra .nav-item:hover {
  background-color: #faf572;
  transition: .5s;
}

.nav-barra .nav-mayo:hover {
  background-color: #faf572;
  transition: .5s;
}

.nav-barra .nav-acerca:hover {
  background-color: #faf572;
  transition: .6s;
}

.links {
  margin-right: 11px
}

.eslogan {
  position: relative;
  width: 202px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  top: -133px;
  left: 168px;
  /* border: 2px solid #000000; */
}

.titulo {
  position: relative;
  width: 194px;
  height: 69px;
  top: -124px;
  left: 171px;
  font-size: 19px;
  text-shadow: 2px 3px 0px #00000038;
  /* border: 2px solid #000000; */
}

.Logo {
  position: relative;
  width: 146px;
  height: 126px;
  top: 4px;
  left: 8px;
  /* border: 2px solid #000000; */
}

.redes {
  width: 32px;
  height: 32px;
}

.links {
  text-decoration: none;
}

.barra-nave {
  background-color: #ffff00;
  width: 100%;
  height: 137px;
}

header {
  margin-bottom: 16px;
}

.menu-nav {
  position: relative;
  display: inline-block;
  width: 620px;
  height: 51px;
  font-size: 17px;
  left: 421px;
  top: -200px;
  list-style-type: none;
}

.nav-barra {
  position: relative;
  display: flow;
  width: 620px;
  height: 51px;
  font-size: 17px;
  left: 421px;
  top: -200px;
  list-style-type: none;
  font-weight: bold;
  text-decoration: none;
}

.nav-barra img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 677px;
}

.nav-barra a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav-barra a:hover {
  color: #FF4500;
}

.nav-item {
  display: inline-block;
  margin-right: 30px;
}

.menu-nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menu-nav .regis-titu:hover {
  color: #000000;
}

.nav-barra .regis-titu:hover {
  color: #000000;
}

.menu-nav .ses:hover {
  color: #000000;
}

.menu-nav a:hover {
  color: 	#FF4500;
}

.lineas a:hover {
  color:aquamarine;
}

.nav-mayo {
  width: 93px;
  height: 44px;
  position: relative;
  top: -19px;
  left: 382px;
  /* border: 2px solid #000000; */
}

.nav-mayo a:hover {
  color: #FF4500;
}

.nav-acerca {
  width: 98px;
  height: 46px;
  position: relative;
  right: 36px;
  top: -63px;
  left: 497px;
  /* border: 2px solid #000000; */
}

.nav-acerca a:hover {
  color: #FF4500;
}

.menu-nav img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 1px;
  left: 677px;
}

.registrate {
  text-shadow: 2px 1px 0px #00000038;
}

.separacion-renglones {
  line-height: 23.5px;
}

.renglones {
  line-height: 23.5px;
}

.renglon {
  line-height: 36.1px;
}

.espacio-renglones {
 line-height: 28.1px;
}

.submenu {
  position: relative;
  background: rgb(255, 165, 0, 0.7);
  width: 117%;
  top: 19px;
  height: 45px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  border-radius: 5px;
  text-decoration: none;
  list-style-type: none;
}

/* .otro-menu {
  position: relative;
  background: #FA8072;
  width: 117%;
  top: 24px;
  height: 42px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  border-radius: 5px;
  text-decoration: none;
  list-style-type: none;
}

.otro-menu li a {
  display: block;
  position: relative;
  top: 5px;
  left: -1px;
  padding: 7px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
} */

.submenu li a {
  display: block;
  position: relative;
  top: 5px;
  left: 9px;
  padding: 7px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.registrate {
  position: relative;
  background: #ff1b05;
  width: 19%;
  height: 37px;
  top: -112px;
  left: 719px;
  border-radius: 7px;
}

.sesion {
  background-color: #ff1b05;
  position: relative;
  text-align: center;
  width: 118px;
  height: 42px;
  left: 719px;
  top: -112px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

.sesiones {
  background-color: #ff1b05;
  position: relative;
  text-align: center;
  width: 118px;
  height: 42px;
  left: 1px;
  top: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

.regis-titu {
  position: relative;
  left: 0px;
  top: 11px;
  padding: 1px 2px;
}

.registrate a {
  position: relative;
  left: 1px;
  top: 8px;
  padding: 1px 17px;
}

.menu-nav li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.nav-barra li:hover .otro-menu {
  visibility: visible;
  opacity: 1;
}

.telegram {
  width: 60px;
  height: 60px;
}

.experiencia {
  background-color: #ff1b05;
  width: 569px;
  height: 39px;
  text-shadow: 2px 3px 0px #00000038;
}

.experiencia {
  position: relative;
  width: 577px;
  height: 39px;
  top: -16px;
  left: 389px;
  text-align: center;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  /* bottom: 40px; */
  /* border: 2px solid #000000; */
}

.experiencia h2 {
  padding: 5px 4px;
}

.meses-aqui {
  position: relative;
  top: 8px;
  left: 42px;
  border-radius: 9px;
  font-weight: bold;
}

.meses-aqui p {
  padding: 13px 12px;
}

.meses-aqui {
  background-color: #ffff00;
  width: 219px;
  height: 47px;
}

.locura {
  position: relative;
  width: 478px;
  height: 140px;
  top: 22px;
  left: 40px;
}

.locura img {
  width: 473px;
  height: 135px;
  border-radius: 7px;
}

.string-text {
  position: relative;
  width: 433px;
  height: 42px;
  font-weight: bold;
  top: 28px;
  left: 44px;
  /* border: 2px solid #000000; */
}

.primer-pag {
  height: 674px;
}

.mi-interes {
  position: relative;
  top: 40px;
}

.grano {
  position: relative;
  width: 474px;
  height: 248px;
  top: 33px;
  left: 12px;
  /* border: 2px solid #000000; */
}

.pagi-ini {
  height: 591px;
}

.Fab {
  position: relative;
  top: -64px;
  left: 17px;
  width: 97px;
  height: 95px;
}

.Ariel {
  position: relative;
  top: -63px;
  left: -3px;
  width: 84px;
  height: 95px;
}

.Shoul {
  position: relative;
  top: -56px;
  left: -26px;
  width: 115px;
  height: 115px;
}

.Papel {
  position: relative;
  top: 71px;
  left: -287px;
  width: 137px;
  height: 137px;
}

.Crema {
  position: relative;
  top: 64px;
  left: -270px;
  width: 117px;
  height: 117px;
}

.Mas-plaza {
  position: relative;
  background-color: #ffff00;
  width: 231px;
  height: 68px;
  left: 928px;
  top: -623px;
  font-weight: bold;
  text-align: center;
  border-radius: 9px;
  /* border: 2px solid #000000; */
}

.Mas-plaza p {
  padding: 14px 13px;
}

.plasa {
  position: relative;
  width: 355px;
  height: 242px;
  top: -218px;
  left: 928px;
  border-radius: 6px;
  /* border: 2px solid #000000; */
}

.calidad {
  position: relative;
  width: 280px;
  height: 59px;
  top: -607px;
  left: 930px;
  /* border: 2px solid #000000; */
  font-weight: bold;
}

.image {
 width: 500px;
 height: 185px;
}

.imag {
  width: 500px;
  height: 500px;
}

.ima-dere {
  width: 470px;
  height: 470px;
}

/* DE AQUI PARA ABAJO LA PÁGINA DE PLAZA */
.frutas {
  position: relative;
  width: 256px;
  height: 46px;
  color: #000000;
  font-weight: bold;
  left: 52%;
  transform: translate(-50%, 0%);
  /* border: 2px solid #000000; */
  /* text-align: center; */
  /* bottom: 24px; */
}

.negrita {
  font-weight: bold;
  padding-left: 12px;
}

.precios-naranja {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 70px;
  font-weight: bold;
}

.precios-banano {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 64px;
  font-weight: bold;
}

.precios-manzana {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 58px;
  font-weight: bold;
}

.precios-granadilla {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 77px;
  font-weight: bold;
}

.precios-lulo {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 47px;
  font-weight: bold;
}

.precios-maracu {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 70px;
  font-weight: bold;
}

.precios-arbol {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 93px;
  font-weight: bold;
}

.precios-mora {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 62px;
  font-weight: bold;
}

.precios-comun {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 73px;
  font-weight: bold;
}

.precios-criolla {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 83px;
  font-weight: bold;
}

.precios-tomate {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 68px;
  font-weight: bold;
}

.precios-verde {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 92px;
  font-weight: bold;
}

.precios-zanahoria {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 67px;
  font-weight: bold;
}

.precios-cabezona {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 107px;
  font-weight: bold;
}

.precios-roja {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 84px;
  font-weight: bold;
}

.precios-cilantro {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 70px;
  font-weight: bold;
}

.precios-larga {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 75px;
  font-weight: bold;
}

.precios-arveja {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 82px;
  font-weight: bold;
}

.precios-ahuyama {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 68px;
  font-weight: bold;
}

.precios-brocoli {
  position: relative;
  top: 6px;
  color:#ff1b05;
  padding-left: 62px;
  font-weight: bold;
}

.plazaa {
  height: 1640px;
}

.naranja {
  position: relative;
  width: 239px;
  height: 170px;
  top: 58px;
  left: 2px;
  /* border: 2px solid #000000; */
}

.naranja img {
  width: 260px;
  height: 163px;
}

.precio-naranja {
  position: relative;
  width: 187px;
  height: 46px;
  top: 66px;
  left: 24px;
  /* border: 2px solid #000000; */
}

.banana {
  position: relative;
  width: 202px;
  height: 162px;
  top: -156px;
  left: 365px;
  /* border: 2px solid #000000; */
}

.banana img {
  width: 200px;
  height: 160px;
}

.precio-banano {
  position: relative;
  width: 178px;
  height: 46px;
  top: -145px;
  left: 374px;
  /* border: 2px solid #000000; */
}

.manzana {
  position: relative;
  width: 245px;
  height: 165px;
  top: -373px;
  left: 691px;
  /* border: 2px solid #000000; */
}

.manzana img {
  width: 240px;
  height: 160px;
  border-radius: 9px;
}

.precio-manzana {
  position: relative;
  width: 154px;
  height: 46px;
  top: -360px;
  left: 727px;
  /* border: 2px solid #000000; */
}

.granadilla {
  position: relative;
  width: 262px;
  height: 147px;
  top: -578px;
  left: 1059px;
  /* border: 2px solid #000000; */
}

.granadilla img {
  width: 260px;
  height: 145px;
}

.precio-granadilla {
  position: relative;
  width: 198px;
  height: 46px;
  top: -552px;
  left: 1092px;
  /* border: 2px solid #000000; */
}

.lulo {
  position: relative;
  width: 255px;
  height: 176px;
  top: -411px;
  left: 15px;
  /* border: 2px solid #000000; */
}

.lulo img {
  width: 250px;
  height: 160px;
  border-radius: 9px;
}

.precio-lulo {
  position: relative;
  width: 150px;
  height: 46px;
  top: -410px;
  left: 55px;
  /* border: 2px solid #000000; */
}

.maracuya {
  position: relative;
  width: 263px;
  height: 159px;
  top: -635px;
  left: 383px;
  /* border: 2px solid #000000; */
}

.maracuya img {
  width: 258px;
  height: 154px;
  border-radius: 9px;
}

.precio-maracu {
  position: relative;
  width: 194px;
  height: 46px;
  top: -623px;
  left: 416px;
  /* border: 2px solid #000000; */
}

.tomate-arbol {
  position: relative;
  width: 180px;
  height: 189px;
  top: -873px;
  left: 766px;
  /* border: 2px solid #000000; */
}

.tomate-arbol img {
  position: relative;
  width: 196px;
  height: 195px;
  padding: 2px 3px;
}

.precio-arbol {
  position: relative;
  width: 243px;
  height: 46px;
  top: -852px;
  left: 742px;
  /* border: 2px solid #000000; */
}

.mora {
  position: relative;
  width: 265px;
  height: 179px;
  top: -1082px;
  left: 1075px;
  /* border: 2px solid #000000; */
}

.mora img {
  width: 255px;
  height: 164px;
  border-radius: 9px;
}

.precio-mora {
  position: relative;
  width: 164px;
  height: 46px;
  top: -1079px;
  left: 1127px;
  /* border: 2px solid #000000; */
}

.papa-comun {
  position: relative;
  width: 195px;
  height: 158px;
  top: -972px;
  left: 46px;
  padding: 0px 2px;
  /* border: 2px solid #000000; */
}

.papa-comun img {
  width: 200px;
  height: 200px;
}

.precio-comun {
  position: relative;
  width: 217px;
  height: 46px;
  top: -953px;
  left: 39px;
  /* border: 2px solid #000000; */
}

.papa-crio {
  position: relative;
  width: 182px;
  height: 182px;
  top: -1169px;
  left: 421px;
  /* border: 2px solid #000000; */
}

.papa-crio img {
  width: 166px;
  height: 153px;
  border-radius: 9px;
}

.precio-criolla {
  position: relative;
  width: 210px;
  height: 46px;
  top: -1181px;
  left: 398px;
  /* border: 2px solid #000000; */
}

.tomate {
  position: relative;
  width: 263px;
  height: 144px;
  top: -1386px;
  left: 744px;
  /* border: 2px solid #000000; */
}

.tomate img {
  width: 233px;
  height: 139px;
  border-radius: 9px;
}

.precio-tomate {
  position: relative;
  width: 179px;
  height: 41px;
  top: -1376px;
  left: 772px;
  /* border: 2px solid #000000; */
}

.plata-verde {
  position: relative;
  width: 237px;
  height: 155px;
  top: -1572px;
  left: 1091px;
  /* border: 2px solid #000000; */
}

.plata-verde img {
  width: 228px;
  height: 144px;
  border-radius: 9px;
}

.platano-verde {
  position: relative;
  width: 224px;
  height: 46px;
  top: -1568px;
  left: 1099px;
  /* border: 2px solid #000000; */
}

.zanahoria {
  position: relative;
  width: 190px;
  height: 180px;
  top: -1482px;
  left: 40px;
  /* border: 2px solid #000000; */
}

.zanahoria img {
  width: 174px;
  height: 164px;
  border-radius: 9px;
}

.precio-zanah {
  position: relative;
  width: 194px;
  height: 46px;
  top: -1480px;
  left: 27px;
  /* border: 2px solid #000000; */
}

.Cebolla-normal {
  position: relative;
  width: 189px;
  height: 180px;
  top: -1716px;
  left: 427px;
  /* border: 2px solid #000000; */
}

.Cebolla-normal img {
  width: 174px;
  height: 164px;
  border-radius: 9px;
}

.precio-cebolla {
  position: relative;
  width: 250px;
  height: 46px;
  top: -1715px;
  left: 386px;
  /* bottom: 2px; */
  /* border: 2px solid #000000; */
}

.cabezona-roja {
  position: relative;
  width: 190px;
  height: 180px;
  top: -1936px;
  left: 779px;
  /* border: 2px solid #000000; */
}

.cabezona-roja img {
  width: 174px;
  height: 164px;
  border-radius: 9px;
}

.precio-roja {
  position: relative;
  width: 214px;
  height: 39px;
  top: -1937px;
  left: 757px;
  /* border: 2px solid #000000; */
}

.cilantro {
  position: relative;
  width: 238px;
  height: 158px;
  top: -2139px;
  left: 1092px;
  /* border: 2px solid #000000; */
}

.cilantro img {
  width: 227px;
  height: 153px;
  border-radius: 9px; 
}

.precio-cilantro {
  position: relative;
  width: 179px;
  height: 46px;
  top: -2131px;
  left: 1121px;
  /* bottom: 2px; */
  /* border: 2px solid #000000; */
}

.cebolla-larga {
  position: relative;
  width: 203px;
  height: 179px;
  top: -2078px;
  left: 28px;
  /* border: 2px solid #000000; */
}

.cebolla-larga img {
  width: 198px;
  height: 205px;
}

.precio-larga {
  position: relative;
  width: 220px;
  height: 46px;
  top: -2066px;
  left: 4px;
  /* bottom: 2px; */
  /* border: 2px solid #000000; */
}

.arveja-verde {
  position: relative;
  width: 186px;
  height: 189px;
  top: -2294px;
  left: 426px;
  /* border: 2px solid #000000; */
}

.arveja-verde img {
  width: 171px;
  height: 172px;
  border-radius: 9px;
}

.precio-arve {
  position: relative;
  width: 211px;
  height: 46px;
  top: -2296px;
  left: 402px;
  /* bottom: 2px; */
  /* border: 2px solid #000000; */
}

.ahuyama {
  position: relative;
  width: 217px;
  height: 152px;
  top: -2514px;
  left: 757px;
  /* border: 2px solid #000000; */
}

.ahuyama img {
  width: 212px;
  height: 147px;  
  border-radius: 9px;
}

.precio-ahuya {
  position: relative;
  width: 188px;
  height: 46px;
  top: -2499px;
  left: 769px;
  /* bottom: 2px; */
  /* border: 2px solid #000000; */
}

.brocoli {
  position: relative;
  width: 220px;
  height: 160px;
  top: -2717px;
  left: 1100px;
  /* border: 2px solid #000000; */
}

.brocoli img {
  width: 228px;
  height: 160px;
}

.precio-broco {
  position: relative;
  width: 171px;
  height: 46px;
  top: -2702px;
  left: 1129px;
}

a[href="poli_term.html"] {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.info-foot li a:hover {
  color: aquamarine;
}

a[href="poli_term.php"] {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

a[href="https://www.sic.gov.co/"] {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* DE AQUI HACIA ABAJO ES EL FOOTERR */
footer {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.pie-pagina {
  width: 100%;
  height: 224px;
  background-color: #ff1b05;
}

.acerca_nosotros {
  position: relative;
  width: 173px;
  height: 31px;
  top: 17px;
  left: 34px;
}

.primera-columna {
  position: relative;
  width: 208px;
  height: 143px;
  font-weight: bold;
  top: 8px;
  left: 43px;
}

.primera-columna ul {
  /* position: relative; */
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.primera-columna ul li {
  margin-left: 5px; /* Añade espaciado entre los elementos de la lista si lo deseas */
  padding-left: 2px;
}

.primera-columna p {
  font-weight: bold;
}

.primera-columna .isab {
  position: relative;
  left: 1px;
  top: 3px;
}

.primera-columna .Carre {
  position: relative;
  top: 20px;
}

.primera-columna .Olaya {
  position: relative;
  top: 22px;
}

.primera-columna .caluroso {
  position: relative;
  top: -5px;
  left: 20px;
}

.ubica {
  position: relative;
  width: 28px;
  height: 28px;
  top: 28px;
  left: 31px;
}

.bica {
  position: relative;
  width: 28px;
  height: 28px;
  top: 24px;
  left: 31px;
}

.indus {
  position: relative;
  left: 5px;
  top: 5px;
}

.condi {
  position: relative;
  left: 3px;
  top: 5px
}

.info-foot .inten {
  margin-top: 36px;
}

.importante {
  position: relative;
  width: 102px;
  height: 32px;
  top: -189px;
  left: 330px;
}

.info-foot {
  position: relative;
  width: 203px;
  height: 138px;
  top: -167px;
  left: 306px;
}

.info-foot ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.info-foot p {
  margin-left: -7px;
  padding: 1px;
}

.contacto-dueños {
  position: relative;
  width: 130px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  top: -356px;
  left: 636px;
  /* border: 2px solid #000000; */
}

.atencion {
  position: relative;
  width: 24px;
  height: 24px;
  top: -342px;
  left: 570px;
}

.correo-uno {
  position: relative;
  width: 24px;
  height: 24px;
  top: -274px;
  left: 545px;
}

.correo-dos {
  position: relative;
  width: 24px;
  height: 24px;
  top: -223px;
  left: 517px;
}

.horario-atencion {
  position: relative;
  width: 247px;
  height: 50px;
  top: -368px;
  left: 599px;
  font-weight: bold;
}

.dueño-uno {
  position: relative;
  width: 201px;
  height: 28px;
  top: -348px;
  left: 602px;
  font-weight: bold;
}

.dos-dueño {
  position: relative;
  width: 209px;
  height: 27px;
  top: -325px;
  left: 603px;
  font-weight: bold;
}

.logo-super {
  position: relative;
  width: 94px;
  height: 82px;
  top: -523px;
  left: 894px;
}

.derechos {
  position: relative;
  width: 340px;
  height: 42px;
  top: -528px;
  left: 1000px;
  font-weight: bold;
}

.datos-person {
  position: relative;
  width: 451px;
  height: 30px;
  top: -492px;
  left: 897px;
  font-weight: bold;
}

.info-foot {
  font-size: 16px;
}

.quienes-somos {
  position: relative;
  top: 19px;
  margin-bottom: 36px;
  margin-left: 39px;
  text-align: justify;
}

.primer-parrafo {
  margin-left: 98px;
  text-align: justify;
  /* position: relative;
  width: 800px;
  height: 1200; */
  /* margin-right: 30px; */
  /* border: 2px solid #000000; */
}

.segundo-parrafo {
  margin-left: 98px;
  text-align: justify;
}

.info {
  margin-left: 31px;
}

.priva {
  position: relative;
  top: 10px;
  text-align: center;
}

.termin {
  position: relative;
  top: 10px;
  margin-bottom: 23px;
}

.terminos {
  margin-left: -60px;
  text-align: center;
}

.terminos-condiciones {
  margin-left: 30px;
}

.acepto {
  background-color: #ff1b05;
  position: relative;
  text-align: center;
  width: 105px;
  height: 42px;
  left: 641px;
  top: -10px;
  border-radius: 5px;
}

.aceptar {
  padding: 12px 20px;
}

.todo-acep {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px 2px;
}

/*ICONO TELEGRAM*/
.float-tele {
  position:absolute;
  bottom: -150px;
  right: -8px;
  transform: translate(-35%, 10px);
  z-index: 100;
}

.formu h1 {
  font-size: 28px;
  margin-top: -1px;
  margin-left: 19px;
}

.realiza {
  position: relative;
  margin-left: 9px;
  top: 1px;
}

.flat {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.float-tele img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #ffffff;

  /* Efecto de hover */
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px aqua;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ff1b05;
  border-radius: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
}

.produc-mayoris {
  height: 1500px;
  margin-top: 42px;
  margin-bottom: -13px;
  text-align: center;
}

.produc-mayoris img {
  width: 544px;
  height: 360px;
}

.ima-dos {
  margin-top: -4px ;
}

.ima-tres {
  margin-top: -5px;
}

.ima-cuatro {
  margin-top: -4px;
  margin-bottom: -3px;
}

.servi-ofre {
  position: relative;
  margin-top: 29px;
  margin-left: 94px;
  margin-bottom: 2px;
}

.parrafo-amplia {
  position: relative;
  top: 32px;
  margin-left: 88px;
}

.slider-uno {
  position: relative;
  width: 412px;
  height: 126px;
  top: -80px;
  left: 772px;
  /* border: 2px solid #000000; */
}

.slider-uno img {
  width: 160px;
  height: 120px;
}

.slider-uno .grano-uno {
  width: 230px;
  height: 105px;
}

.parrafo-domicilios {
  position: relative;
  top: -14px;
  margin-left: 88px;
}

.slider-dos {
  position: relative;
  width: 234px;
  height: 111px;
  top: -140px;
  left: 769px;
  /* border: 2px solid #000000; */
}

.slider-dos img {
  width: 217px;
  height: 99px;
}

.parrafo-servicio {
  position: relative;
  top: -36px;
  margin-left: 88px;
}

.slider-tres {
  position: relative;
  width: 41px;
  height: 20px;
  top: -142px;
  left: 798px;
  /* border: 2px solid #000000; */
}

.slider-tres img {
  width: 160px;
  height: 108px;
  border-radius: 7px;
}

.parrafo-frescura {
  position: relative;
  top: 34px;
  margin-left: 88px;
}

.slider-cuatro {
  position: relative;
  width: 20px;
  height: 20px;
  top: -80px;
  left: 768px;
  /* border: 2px solid #000000; */
}

.slider-cuatro img {
  width: 146px;
  height: 114px;
}

.parrafo-impacto {
  position: relative;
  top: 108px;
  margin-left: 88px;
}

.slider-cinco {
  position: relative;
  width: 192px;
  height: 109px;
  top: 8px;
  left: 762px;
  /* border: 2px solid #000000; */
}

.slider-cinco img {
  width: 175px ;
  height: 91px;
  border-radius: 7px;
}

.parrafo-contacto {
  position: relative;
  font-weight: bold;
  top: 78px;
  margin-left: 88px;
  margin-bottom: 110px;
}

.slider-seis {
  position: relative;
  width: 20px;
  height: 20px;
  top: -165px;
  left: 713px;
  /* border: 2px solid #000000; */
}
 
.slider-seis img {
  width: 163px;
  height: 134px;
}

.lilo {
  height: 1640px;
}

.aden-login {
  position: relative;
  width: 400px;
  height: 744px;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 693px;
  top: 395px;
  margin-bottom: 60px;
  border: 2px solid #ff1b05;
  box-shadow: 0 1px 9px 1px rgb(255, 27, 5);
  border-radius: 18px;
  /* bottom: 0px; */
}

.sesion-inicio {
  position: relative;
  width: 400px;
  height: 520px;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 693px;
  top: 289px;
  font-weight: bold;
  margin-bottom: 69px;
  border: 2px solid #ff1b05;
  box-shadow: 0 1px 9px 1px rgb(255, 27, 5);
  border-radius: 18px;
}

.estilo {
  width: 298px;
  margin: 100px auto;
  padding: 40px;
  text-align:center; 
  background-color: #fff;
  font-size:30px;
  color: #ff1b05;
  border-radius: 10px;
  box-shadow: 0 1px 14px 1px rgb(255, 27, 5);
  text-decoration: none;
  text-shadow: 2px 3px 0px #00000038;
}

.aden-login p {
  position: relative;
  left: 4px;
  top: -1px;
  text-align: center;
  font-weight: bold;
}

.aden-login a {
  color: blue;
}

.formu label {
  display: block;
  position: relative;
  margin-top: 11px;
  margin-left: 70px;
  margin-bottom: 24px;
  padding-left: 0px;
  width: 272px;
  height: 50px;
  border: 0.5px solid #000000;
  border-radius: 15px;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}

.formu label:hover {
  box-shadow: 0 1px 16px 4px rgb(255, 255, 0);
}

.formu {
  position: relative;
  top: 20px;
  left: -3px;
  background-color: transparent;
}

i.bx.bx-user {
  position: relative;
  top: 5px;
  left: -1px
}

i.bx.bxs-user {
  position: relative;
  top: 5px;
  left: -1px
}

i.bx.bxs-lock-alt {
  position: relative;
  top: 5px;
  left: 1px
}

i.bx.bx-envelope {
  position: relative;
  top: 7px;
  left: -3px
}

i.bx.bx-phone {
  position: relative;
  top: 5px;
  left: -2px
}

i.bx.bx-map {
  position: relative;
  top: 6px;
  left: -1px
}

i.bx.bxs-city {
  position: relative;
  top: 6px;
  left: -1px
}

.controls {
  position: relative;
  width: 236px;
  top: 4px;
  left: 1px;
  background: unset;
  border: none;
  outline: none;
  height: 40px;
  padding: 7px 0px;
}

.register {
  background-color: #ff1b05;
  position: relative;
  text-align: center;
  width: 120px;
  height: 42px;
  left: -2px;
  top: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
}

.pedidos {
  position: relative;
  left: 3px;
  top: 15px;
}

.registar {
  padding: 12px 13px;
}

.register .todo-regis {
  color: #000000;
}

.useers img {
  margin-top: -8px;
  margin-left: 3px;
  width: 154px;
  height: 153px;
  filter: drop-shadow(2px 2px 11px aqua);
}

/* AQUI EMPIEZA LA PÁGINA DE PRODUCTOS */
.festival-precios {
  position: relative;
  width: 445px;
  height: 123px;
  top: -8px;
  left: 460px;
  /* border: 2px solid #000000; */
}

.festival-precios img {
  width: 440px;
  height: 118px;
  border-radius: 7px;
}

.slider-todo {
  width: 600px;
}

.slider-todo {
  /* float: right; */
  width: 1000px;
  height: auto;
}

.slider-todo .image1 {
  position: relative;
  width: 466px;
  height: 460px;
  top: 21px;
  left: 155px;
  /* border: 2px solid #000000; */
}

.slider-todo .image1 {
  width: 462px;
  height: 454px;
}

.slider-todo .image2 {
  position: relative;
  width: 464px;
  height: 458px;
  top: 475px;
  left: -311px;
  /* border: 2px solid #000000; */
}

.slider-todo .image2 {
  width: 462px;
  height: 456px;
}

.slider-todo .image3 {
  position: relative;
  width: 464px;
  height: 464px;
  top: 469px;
  left: 155px;
  /* border: 2px solid #000000; */
}

.slider-todo .image3 {
  width: 462px;
  height: 462px;
}

.slider-todo .imaga1 {
  position: relative;
  width: 462px;
  height: 453px;
  top: -448px;
  left: 239px;
  /* border: 2px solid #000000; */
}

.slider-todo .imaga1 {
  width: 460px;
  height: 451px;
}

.slider-todo .imaga2 {
  position: relative;
  width: 462px;
  height: 453px;
  top: -455px;
  left: 705px;
  /* border: 2px solid #000000; */
}

.slider-todo .imaga2 {
  width: 460px;
  height: 451px;
}

.slider-todo .imaga3 {
  position: relative;
  width: 464px;
  height: 254px;
  top: -205px;
  left: 239px;
  /* border: 2px solid #000000; */
}

.slider-todo .imaga3 {
  width: 462px;
  height: 252px;
}

.produc {
 height: 1556px;
}

.slider-todo .execep-imag {
  position: relative;
  width: 444px;
  height: 234px;
  top: -209px;
  left: 712px;
  /* border: 2px solid #000000; */
}

.slider-todo .execep-imag {
  width: 442px;
  height: 232px;
}